.line-inner {
  background-color: #05b53b;
  color: #fff;
  border-radius: 30px;
}

.line-title {
  font-size: 4.8rem;
  font-weight: bold;
  text-align: center;
  line-height: 2;
}

.line-text {
  max-width: 720px;
  margin: 0 auto;
  line-height: 40px;
}

